.why__head{
    display: flex;
    flex-direction: row;
}

.TitleImg{
    position: relative;
    top: -16rem;
    height: 50rem;
}

.ManImg{
    height: 30rem;
    transform: scaleX(-1);
    position: relative;
    left: -35rem;
    top: -2rem;
}

.choose__cards{
    position: relative;
    top: -20rem;
}

/* Cards */

.card__content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__card{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
    width: 16rem;
    height: 20rem;
    /* border: 1px solid black; */
    border-radius: 25px !important;
    text-align: center;
}

.first__row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.card__title{
    position: relative;
    bottom: 1rem;
    color: #0051c4;
}

.boxImg{
    width: 100%;
}

.box__description{
    width: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.technologies{
    display: flex;
    justify-content: center;
    position: relative;
    top: -10rem;
}